mat-card-title,
mat-card-subtitle,
mat-card-content {    
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 16px
}

mat-card-content{
    min-height: 315px;
}

.example-action-buttons {
    padding-bottom: 20px;
}
  
.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}