:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    min-width: 200px;
    max-width: 300px;
    z-index: 1 !important;
  }
  
  .margin-left {
    margin-left: 300px;
  }
  
  mat-drawer-container  {
    min-height: calc( 100vh - 64px );
    max-height: calc( 95vh );
  }
  
  mat-drawer-content {
    max-height: calc( 95vh );
  }
  
  
  ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ecececc2;
      /*background-image: linear-gradient(#be2013, #921a28)*/;
    /*background-color: #be2013;*/
  }
  
  .red-container {
    background-color: red;
  }
  
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  
  .date-hour-content {
    background: #3f51b538;
    text-align: center;
    padding: 10px 0;
  }